<div class='question'>
  <h3><%= question.name %></h3>
  <h4><%- question.description %></h4>

  <% var questionInputName = 'question-' + question.number; %>
  <% if (question.type === 'truefalse') { %>
    TRUE: <input type="radio" name="<%=questionInputName%>" value="true"><br>
    FALSE: <input type="radio" name="<%=questionInputName%>" value="false"><br>
  <% } %>

  <% if (question.type === 'multiple') { %>
  <div class='multiple-choices'>
    <div class='choice choice1'>
      <input type='radio' name="<%=questionInputName%>" value="1">
      <%= question.choice1 %>
    </div>
    <div class='choice choice2'>
      <input type='radio' name="<%=questionInputName%>" value="2">
      <%= question.choice2 %>
    </div>

    <% if (question.choice3) { %>
      <div class='choice choice3'>
        <input type='radio' name="<%=questionInputName%>" value="3">
        <%= question.choice3 %>
      </div>
    <% } %>

    <% if (question.choice4) { %>
      <div class='choice choice4'>
        <input type='radio' name="<%=questionInputName%>" value="4">
        <%= question.choice4 %>
      </div>
    <% } %>
  </div>
  <% } %>
</div>
