<h2>Quiz <%= quiz.name %></h2>

<h3>Questions</h3>

<p><a href='/quizzes/<%= quiz.id %>/questions/new'>Click here to add a question</a></p>

<form action="/quizzes/<%= quiz.id %>/complete" method="post">
  <button type="submit">Mark this quiz complete</button>
</form>

<p><a href="/quizzes/<%= quiz.id %>/take">Take this quiz</a></p>

<ol>
  <% quiz.questions.forEach( function(question) { %>
    <li>
      <%= question.name %> (<%= question.type %>)
    </li>
  <% }); %>

  <% if (quiz.questions.length === 0) { %>
    <li><em>No questions yet.</em></li>
  <% } %>
</ol>
